*{
    box-sizing: border-box;
    font-family: monospace;
}
body{
    margin:  0;
    padding : 0;
}
.vedio-cont{
    height: 100vh;
    width: 100vw;
    background-color: black;
}
video{
    height: 100%;
    width : 100%;
}
.action-cont{
    height: 10rem;
    /* background-color: lightcoral; */
    display: flex;
    flex-direction: column;
    position: absolute;
    color: white;
    top: calc((100vh - 10rem)/2);
    right : 5rem;
    justify-content: space-between;
    z-index: 2;
}
.action-cont > *{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 4rem;
    background-color: lightcoral;
    border-radius: 50%;
    border : 2px solid white;
}
.effects-cont{
   
    height : 16rem;
    width: 5rem;
    position : absolute;
    top: calc((100vh - 16rem)/2);
    left : 1.2rem;
    z-index: 2;
}
.record-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width : 3rem;
  border-radius: 50%;
  background-color: red;
}
.capture-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width : 3rem;
    border-radius: 50%;
    background-color: white;
}
.scale-record{
  animation-name: scale-record;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.scale-capture{
 animation-name: scale-capture;
 animation-iteration-count: 1;
 animation-duration: 1s;
}
@keyframes scale-record {
    0% {
         transform: scale(.5);
    }
    100%{
        transform: scale(1.1);
    }
}
@keyframes scale-capture {
    0%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1.1);
    }
}
.timer-cont{
    position: absolute;
    color : white;
    bottom : 5rem;
    left : 2rem;
}

.orange{
    background-color: #f2bb54a1;
}
.red{
    background-color: #ea6b6bb5;
}
.blue{
    background-color: #7d7deab5;
}
.transparent{
    background-color: none;
}
.effects{
    height: 4rem;
    width:5rem;
    background-blend-mode: color-burn;
    background-image: url("./layehagegasgdk.jpg");
   z-index: 2;
}
.filter-layer{
    position: absolute;
    top : 0;
    left : 0;
    height : 100vh;
    width : 100vw;
    z-index:1;


}
.gallery{
position: absolute;
bottom: 5rem;
right:6.5rem;
color : white;
z-index: 2;
}
.gallery :hover{
  cursor: pointer;
}

.back-btn{
    height : 2.5rem;
    width:2.5rem;
   
    position: fixed;
  top : 1rem;
  left : 1rem;
}
.back-btn :hover{
    cursor: pointer;
}

.action-btn{
    height: 1.2rem;
    width : 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.action-btn :hover{
    cursor: pointer;

}
.delete{
    color : white;
    background-color:black;
}
.download :hover{
    background-color: blue;

}
.download{
    color :white;
    background-color: red;
}

.gallery-cont{
    
    margin: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.galleryElem{
    height: 10rem;
    width:10rem;
    margin : 2rem;
}
.galleryElem :hover{
    transform: scale(1.1);
}
.media{
    height: calc(100% - 2.4rem);
    width: 100%;
    background-color:  lightblue;
    
}
.click{
    height: 100%;
   width: 100%;
}

